*{
    margin: 0;
    font-family: Arial;
    border : border-box;
    /* text-decoration: none; */
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* main header content */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

.logo {
    background-image: url(amazon-white.jpg);
    background-size: cover;
    height: 50px;
    width:100%;
}

/*2nd nav address */
.nav-address {
    margin: 5px 2px 5px 0px;
    padding: 9px 12px 9px 12px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second {
    color: #FFFFFF;
    margin-left: 3px;
}

/* 3rd nav search */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    /* background-color: pink; */
    border-radius: 4px;
    /* padding: 10px 4px 10px 3px; */
}
.nav-search:hover {
    border:2px solid #febd68;
}

.search-select {
    color: #0f1111;
    width: 50px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    background-color: #f3f3f3;

}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* 4th country */
.nav-lang {
    display: flex;
    height: 50px;
    width: 70px;
    justify-content: center;
}
.select-lang {
    width:45px;
    color: #FFFFFF;
    border: none;
    background-color: #0f1111;
}

/* 5th and 6th signin */
.nav-signin {
    padding: 8px;
}
.nav-return {
    padding: 8px;
}
span {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* 7th Cart */
.nav-cart {
    display: flex;
    height: 50px;
    padding: 0px 6px 0px 4px;
    justify-content: center;
    align-items: center;
}
.nav-cart i {
    font-size: 30px;
}



/* 2nd row(below) nav bar */
.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    color:#FFFFFF;
    background-color: #222f3d;
}
.panel-all {
    font-weight: 700;
}

.panel-ops {
    width: 80%;
    font-size: 0.85rem;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}


/* main content */
/* 3rd section hero section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items:end;
    height: 350px;
    background-image: url(hero-image.jpg);
    background-size: cover;
}
.hero-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f6;
    color: #0f1111;
    height: 40px;
    width: 95%;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-message a {
    color: #2162A1;
}


/* 4th shop section */
.shop-section {
    display: grid;
    background-color: rgb(219, 219, 219);
    gap: 10px;
    margin-top: 15px;
}
@media (max-width: 900px) {
    .shop-section {
        grid-template-columns: repeat(3, 300px);
        /* Optionally, allow horizontal scrolling if container is narrower than 900px */
        overflow-x: auto;
    }
}
/* For viewports 900px and wider, allow extra columns if space permits */
@media (min-width: 901px) {
    .shop-section {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.box {
    height: 400px;
    background-color: white; /* Just for visibility */
}

.box-content {
    height: 80%;
    width:90%;
    background-clip: content-box; /* This clips the background to the content area */
    padding: 12px 2px 18px 15px;
}
main {
    margin-bottom: 20px;
}



/* footer section */
footer {
    margin-top: 20px;
}
/* 1st */
.foot-panel1 {
    height: 20px;
    padding: 20px 0px 20px 0px;
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
}
/* 2nd */
.foot-panel2 {
    background-color: #222f3d;
    height: 350px;
    display: flex; 
    flex-wrap: nowrap;   /* Keep items in a single row */
    overflow-x: hidden;    /*can set auto or scroll if want/need Enable horizontal scrolling */  
    white-space:nowrap;  /*Prevent text from wrapping inside items*/
    justify-content: space-evenly;
    padding-top: 35px;
}
/* @media (max-width: 900px){
    .foot-panel2 {
        overflow-x: auto;
    }
} */
.foot-panel2 a {
    color: #DDDDDD;
    display: block;
    font-size: 0.85rem;
    margin-top: 12px;
    flex-shrink: 0; 
}
.foot-panel2 p {
    font-weight: 700;
    color:#FFFFFF;
    margin: 6px 0px 14px 0px;
}
/* 3rd */
.foot-panel3 {
    height: 100px;
    color: #DDDDDD;
    background-color: #222f3d;
    border-top: 1px solid rgb(55, 68, 97);
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url(amazon-white.jpg);
    background-size: cover;
    height: 50px;
    width: 100px;
}
/* smae template for 2nd 3rd 4th part of panel 3 */
.panel3 {
    background-color: #222f3d;
    color: #DDDDDD;
    border: 0.5px rgb(197, 197, 197) solid;
    border-radius: 4px;
    padding: 6px 18px 6px 8px;
    margin-left: 8px;
    font-size: 0.85rem;
    
}
.panel3 a {
    color: #DDDDDD;
}
.panel3 a:hover {
    text-decoration: none;
}
.pointer:hover {
    border-color: whitesmoke;
    cursor: pointer;
}
.select-lang2 {
    width: 80px;
    margin-left: 80px;
}
.currency {
    white-space: nowrap;
}
/* 4th */
.foot-panel4 {
    height: 90px;
    color: #DDDDDD;
    background-color: #131A22;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
    padding-top: 15px;
    font-size: 0.80rem;
}
.pages {
    padding-bottom: 8px;
}
.pages a{
    color: #DDDDDD;
    margin-left: 20px;
}



